<html>
  <head>
    <link
      href='https://fonts.googleapis.com/css?family=Press+Start+2P'
      rel='stylesheet'
    />
    <link href='https://unpkg.com/nes.css/css/nes.css' rel='stylesheet' />
    <style>
      html, body, pre, code, kbd, samp { font-family: `'Press Start 2P',
      monospace`; } body { display: flex; justify-content: center; flex-wrap:
      wrap; align-items: center;} body > .nes-container { max-width: 980px;
      margin: 25px auto; width: 80%;} .nes-container:first-of-type { margin-top:
      100px;} .title { text-align: center;}
    </style>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <div class='nes-container is-rounded title'>
      <h1>Habitica Recurring Tasks</h1>
    </div>
    <div class='nes-container with-title'>
      <h2 class='title'>Info</h2>
      <p>Habitica Recurring Tasks is a
        <i>non-affiliated third-party</i>
        webapp which allows users to create recurring tasks with all the
        capabilities of the Habitica app.
      </p>
      <p>This app is heavily inspired by
        <a href='https://github.com/Kirska/Habitica_ToDoOvers'>Habitica To-Do
          Overs</a>.</p>
    </div>
    <div class='nes-container'>
      <div class='nes-field'>
        <form
          name='login_form'
          action='/'
          method='post'
          enctype='application/x-www-form-urlencoded'
        >
          <label for='name_field'>Your User ID</label>
          <input
            name='user_id'
            type='text'
            id='name_field'
            class='nes-input'
            placeholder='XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
            pattern='[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            required
          />
          <label for='api_key_field'>Your API Key</label>
          <input
            name='api_key'
            type='password'
            id='api_key_field'
            class='nes-input'
            pattern='[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
            required
          />
          <p>You can find your User ID and API Key in your
            <a href='https://habitica.com/user/settings/api'>Habitica settings</a></p>
          <p>We save your User ID and an encrypted version of your API Key, and
            keep a record of the tasks you set up through here.</p>

          <button type='submit' class='nes-btn is-primary'>Login</button>

        </form>
      </div>
    </div>

  </body>
</html>